**Code:** **Implement this metric from scratch in Python using NumPy/Pandas/Scipy only.**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
def multi_log_loss(y_true, y_prob):
  #define an epsilon value
  epsilon = 1e-15
  #list to store losses
  loss = []
  #loop over all true and pred probability values
  for x,y in zip(y_true, y_prob):
    y = np.clip(y, epsilon, 1 - epsilon)
    #calculate loss for one sample
    loss_1 = - 1.0 * (x * np.log(y) + (1 - x) * np.log(1 - y))
    #add to loss list
    loss.append(loss_1)
    #return mean loss over all samples
  return np.mean(loss)

In [ ]:
y_true = [0, 0, 0, 1, 1, 0, 0,0, 0, 1, 1, 1, 0, 0, 1]
y_prob = [0.15, 0.3, 0.2, 0.7, 0.8, 0.05,0.9, 0.5, 0.3, 0.66, 0.4, 0.87,0.85, 0.15, 0.99]

In [ ]:
multi_log_loss(y_true, y_prob)

0.5511075950193614

**DATA ACQUISITION**

Initial Analysis on data has been done, more exploration of data will be performed in futher phases 

Our kaggle dataset is mounted on Google Drive for retrieval

Dataset is available for download from here: https://www.kaggle.com/c/telstra-recruiting-network/data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%cd /content/drive/MyDrive/assignment1_colab/Telstra Case Study

/content/drive/MyDrive/assignment1_colab/Telstra Case Study

**Reading the dataset using pandas Dataframe**

In [ ]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')
event_type = pd.read_csv('event_type.csv')
log_feature = pd.read_csv('log_feature.csv')
resource_type = pd.read_csv('resource_type.csv')
severity_type = pd.read_csv('severity_type.csv')

**Printing the no. of datapoints in each dataset provided**

In [ ]:
print('Number of train data points : ', train_data.shape[0])
print('Number of features : ', train_data.shape[1])
print('-------------------------------------------------------------')
print('Number of test data points : ', test_data.shape[0])
print('Number of features : ', test_data.shape[1])
print('-------------------------------------------------------------')
print('Number of  event_type data points : ', event_type.shape[0])
print('Number of features : ', event_type.shape[1])
print('-------------------------------------------------------------')
print('Number of log_feature data points : ', log_feature.shape[0])
print('Number of features : ', log_feature.shape[1])
print('-------------------------------------------------------------')
print('Number of resource_type data points : ', resource_type.shape[0])
print('Number of features : ', resource_type.shape[1])
print('-------------------------------------------------------------')
print('Number of severity_type data points : ', severity_type.shape[0])
print('Number of features : ', severity_type.shape[1])

Number of train data points :  7381
Number of features :  3
-------------------------------------------------------------
Number of test data points :  11171
Number of features :  2
-------------------------------------------------------------
Number of  event_type data points :  31170
Number of features :  2
-------------------------------------------------------------
Number of log_feature data points :  58671
Number of features :  3
-------------------------------------------------------------
Number of resource_type data points :  21076
Number of features :  2
-------------------------------------------------------------
Number of severity_type data points :  18552
Number of features :  2

In [ ]:
train_data.head()

      id      location  fault_severity
0  14121  location 118               1
1   9320   location 91               0
2  14394  location 152               1
3   8218  location 931               1
4  14804  location 120               0

In [ ]:
log_feature.head(3)

     id log_feature  volume
0  6597  feature 68       6
1  8011  feature 68       7
2  2597  feature 68       1

In [ ]:
event_type.head(3)

     id     event_type
0  6597  event_type 11
1  8011  event_type 15
2  2597  event_type 15

In [ ]:
resource_type.head(3)

     id    resource_type
0  6597  resource_type 8
1  8011  resource_type 8
2  2597  resource_type 8

In [ ]:
severity_type.head(3)

     id    severity_type
0  6597  severity_type 2
1  8011  severity_type 2
2  2597  severity_type 2